.cell {
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background-color: aliceblue;
}

.cell:first-child {
    border-left: 1px solid black;
}

.row:first-child > .cell {
    border-top: 1px solid black;
}

.colorCell {
    background-color: black;
}